:root {
    /*cores*/
    --azul       : #3498db;
    --cinza      : #2d3436;
    --cinza-claro: #636e72;
    --branco     : #fff;
    --vermelho   : #ff7675;
    /*fonte*/
    --fonte      : Helvetica Neue, Helvetica, Arial;
}

/*padrao*/
* {
    cursor     : default;
    font-family: var(--fonte);
    font-weight: 400;
    margin     : 0;
    padding    : 0;
}

/*reset*/
ul,
li {
    list-style: none;
}

/* #principal {} */

#titulo {
    color     : var(--cinza);
    margin    : 20px 0;
    text-align: center;
}

#placar {
    align-items    : center;
    display        : flex;
    justify-content: center;

}

#jogador {
    background-color: var(--azul);
}

#jogador-pontos {
    right: 20px;
}

#jogador #jogador-escolha,
#computador #computador-escolha {
    margin-top: 30px;
    text-align: center;
}

#jogador #jogador-escolha li,
#computador #computador-escolha li {
    display: inline;
    padding: 0 15px;
}

#jogador #jogador-escolha a,
#computador #computador-escolha a {
    opacity: 0.2;
}

#jogador #jogador-escolha a:hover,
#jogador #jogador-escolha a.selecionado,
#computador #computador-escolha a.selecionado {
    opacity: 1;
}

#jogador #jogador-escolha img,
#computador #computador-escolha img {
    max-width: 80px;
}

#jogador,
#computador {
    border-radius: 5px;
    color        : var(--branco);
    flex-grow    : 1;
    padding      : 20px;
    position     : relative;
}

#jogador-nome,
#computador-nome {
    font-size: 24px;
}

#jogador-pontos,
#computador-pontos {
    font-size: 52px;
    position : absolute;
    top      : 8px;
}

#versus {
    font-size: 80px;
    padding  : 0 40px;
}

#computador {
    background-color: var(--vermelho);
}

#computador-pontos {
    right: 20px;
}

#mensagem {
    background-color: var(--cinza-claro);
    border-radius   : 5px;
    color           : var(--branco);
    font-size       : 24px;
    margin          : 20px 0;
    padding         : 20px;
    text-align      : center;
}